#screen{background-image:url(Buufa/Wallpaper.png);}

#iphone .aMaze!{background:url(Buufa/Icons/aMaze!.png) center center no-repeat;}
#dock .aMaze!{background:url(Buufa/Icons/aMaze!.png) center 10px no-repeat;}

#iphone .App Store{background:url(Buufa/Icons/App Store.png) center center no-repeat;}
#dock .App Store{background:url(Buufa/Icons/App Store.png) center 10px no-repeat;}

#iphone .BeejiveIM{background:url(Buufa/Icons/BeejiveIM.png) center center no-repeat;}
#dock .BeejiveIM{background:url(Buufa/Icons/BeejiveIM.png) center 10px no-repeat;}

#iphone .BiiBall{background:url(Buufa/Icons/BiiBall.png) center center no-repeat;}
#dock .BiiBall{background:url(Buufa/Icons/BiiBall.png) center 10px no-repeat;}

#iphone .biteSMS{background:url(Buufa/Icons/biteSMS.png) center center no-repeat;}
#dock .biteSMS{background:url(Buufa/Icons/biteSMS.png) center 10px no-repeat;}

#iphone .BossPrefs{background:url(Buufa/Icons/BossPrefs.png) center center no-repeat;}
#dock .BossPrefs{background:url(Buufa/Icons/BossPrefs.png) center 10px no-repeat;}

#iphone .BossTool{background:url(Buufa/Icons/BossTool.png) center center no-repeat;}
#dock .BossTool{background:url(Buufa/Icons/BossTool.png) center 10px no-repeat;}

#iphone .Brain Tuner{background:url(Buufa/Icons/Brain Tuner.png) center center no-repeat;}
#dock .Brain Tuner{background:url(Buufa/Icons/Brain Tuner.png) center 10px no-repeat;}

#iphone .BrickEscape{background:url(Buufa/Icons/BrickEscape.png) center center no-repeat;}
#dock .BrickEscape{background:url(Buufa/Icons/BrickEscape.png) center 10px no-repeat;}

#iphone .BubbleWrap{background:url(Buufa/Icons/BubbleWrap.png) center center no-repeat;}
#dock .BubbleWrap{background:url(Buufa/Icons/BubbleWrap.png) center 10px no-repeat;}

#iphone .Calculator{background:url(Buufa/Icons/Calculator.png) center center no-repeat;}
#dock .Calculator{background:url(Buufa/Icons/Calculator.png) center 10px no-repeat;}

#iphone .Calendar{background:url(Buufa/Icons/Calendar.png) center center no-repeat;}
#dock .Calendar{background:url(Buufa/Icons/Calendar.png) center 10px no-repeat;}

#iphone .Camera{background:url(Buufa/Icons/Camera.png) center center no-repeat;}
#dock .Camera{background:url(Buufa/Icons/Camera.png) center 10px no-repeat;}

#iphone .Categories{background:url(Buufa/Icons/Categories.png) center center no-repeat;}
#dock .Categories{background:url(Buufa/Icons/Categories.png) center 10px no-repeat;}

#iphone .Clock{background:url(Buufa/Icons/Clock.png) center center no-repeat;}
#dock .Clock{background:url(Buufa/Icons/Clock.png) center 10px no-repeat;}

#iphone .Contacts{background:url(Buufa/Icons/Contacts.png) center center no-repeat;}
#dock .Contacts{background:url(Buufa/Icons/Contacts.png) center 10px no-repeat;}

#iphone .Customize{background:url(Buufa/Icons/Customize.png) center center no-repeat;}
#dock .Customize{background:url(Buufa/Icons/Customize.png) center 10px no-repeat;}

#iphone .Cycorder{background:url(Buufa/Icons/Cycorder.png) center center no-repeat;}
#dock .Cycorder{background:url(Buufa/Icons/Cycorder.png) center 10px no-repeat;}

#iphone .Cydia{background:url(Buufa/Icons/Cydia.png) center center no-repeat;}
#dock .Cydia{background:url(Buufa/Icons/Cydia.png) center 10px no-repeat;}

#iphone .Dactyl{background:url(Buufa/Icons/Dactyl.png) center center no-repeat;}
#dock .Dactyl{background:url(Buufa/Icons/Dactyl.png) center 10px no-repeat;}

#iphone .Dadctyl{background:url(Buufa/Icons/Dadctyl.png) center center no-repeat;}
#dock .Dadctyl{background:url(Buufa/Icons/Dadctyl.png) center 10px no-repeat;}

#iphone .DropCopy{background:url(Buufa/Icons/DropCopy.png) center center no-repeat;}
#dock .DropCopy{background:url(Buufa/Icons/DropCopy.png) center 10px no-repeat;}

#iphone .dTunes{background:url(Buufa/Icons/dTunes.png) center center no-repeat;}
#dock .dTunes{background:url(Buufa/Icons/dTunes.png) center 10px no-repeat;}

#iphone .Finder{background:url(Buufa/Icons/Finder.png) center center no-repeat;}
#dock .Finder{background:url(Buufa/Icons/Finder.png) center 10px no-repeat;}

#iphone .Fizz Weather{background:url(Buufa/Icons/Fizz Weather.png) center center no-repeat;}
#dock .Fizz Weather{background:url(Buufa/Icons/Fizz Weather.png) center 10px no-repeat;}

#iphone .FreshWater{background:url(Buufa/Icons/FreshWater.png) center center no-repeat;}
#dock .FreshWater{background:url(Buufa/Icons/FreshWater.png) center 10px no-repeat;}

#iphone .fring{background:url(Buufa/Icons/fring.png) center center no-repeat;}
#dock .fring{background:url(Buufa/Icons/fring.png) center 10px no-repeat;}

#iphone .G-Spot{background:url(Buufa/Icons/G-Spot.png) center center no-repeat;}
#dock .G-Spot{background:url(Buufa/Icons/G-Spot.png) center 10px no-repeat;}

#iphone .Garf{background:url(Buufa/Icons/Garf.png) center center no-repeat;}
#dock .Garf{background:url(Buufa/Icons/Garf.png) center 10px no-repeat;}

#iphone .GhostPop{background:url(Buufa/Icons/GhostPop.png) center center no-repeat;}
#dock .GhostPop{background:url(Buufa/Icons/GhostPop.png) center 10px no-repeat;}

#iphone .Google Earth{background:url(Buufa/Icons/Google Earth.png) center center no-repeat;}
#dock .Google Earth{background:url(Buufa/Icons/Google Earth.png) center 10px no-repeat;}

#iphone .Hanoi{background:url(Buufa/Icons/Hanoi.png) center center no-repeat;}
#dock .Hanoi{background:url(Buufa/Icons/Hanoi.png) center 10px no-repeat;}

#iphone .iDrops{background:url(Buufa/Icons/iDrops.png) center center no-repeat;}
#dock .iDrops{background:url(Buufa/Icons/iDrops.png) center 10px no-repeat;}

#iphone .iKick{background:url(Buufa/Icons/iKick.png) center center no-repeat;}
#dock .iKick{background:url(Buufa/Icons/iKick.png) center 10px no-repeat;}

#iphone .Installer{background:url(Buufa/Icons/Installer.png) center center no-repeat;}
#dock .Installer{background:url(Buufa/Icons/Installer.png) center 10px no-repeat;}

#iphone .iPod{background:url(Buufa/Icons/iPod.png) center center no-repeat;}
#dock .iPod{background:url(Buufa/Icons/iPod.png) center 10px no-repeat;}

#iphone .iQuran Pro{background:url(Buufa/Icons/iQuran Pro.png) center center no-repeat;}
#dock .iQuran Pro{background:url(Buufa/Icons/iQuran Pro.png) center 10px no-repeat;}

#iphone .iThrown{background:url(Buufa/Icons/iThrown.png) center center no-repeat;}
#dock .iThrown{background:url(Buufa/Icons/iThrown.png) center 10px no-repeat;}

#iphone .iTunes{background:url(Buufa/Icons/iTunes.png) center center no-repeat;}
#dock .iTunes{background:url(Buufa/Icons/iTunes.png) center 10px no-repeat;}

#iphone .Jaaadu{background:url(Buufa/Icons/Jaaadu.png) center center no-repeat;}
#dock .Jaaadu{background:url(Buufa/Icons/Jaaadu.png) center 10px no-repeat;}

#iphone .Jaadu{background:url(Buufa/Icons/Jaadu.png) center center no-repeat;}
#dock .Jaadu{background:url(Buufa/Icons/Jaadu.png) center 10px no-repeat;}

#iphone .Jaadu2{background:url(Buufa/Icons/Jaadu2.png) center center no-repeat;}
#dock .Jaadu2{background:url(Buufa/Icons/Jaadu2.png) center 10px no-repeat;}

#iphone .Jared{background:url(Buufa/Icons/Jared.png) center center no-repeat;}
#dock .Jared{background:url(Buufa/Icons/Jared.png) center 10px no-repeat;}

#iphone .Knots{background:url(Buufa/Icons/Knots.png) center center no-repeat;}
#dock .Knots{background:url(Buufa/Icons/Knots.png) center 10px no-repeat;}

#iphone .Level{background:url(Buufa/Icons/Level.png) center center no-repeat;}
#dock .Level{background:url(Buufa/Icons/Level.png) center 10px no-repeat;}

#iphone .Lockdown{background:url(Buufa/Icons/Lockdown.png) center center no-repeat;}
#dock .Lockdown{background:url(Buufa/Icons/Lockdown.png) center 10px no-repeat;}

#iphone .m%3FBox Mail{background:url(Buufa/Icons/m%3FBox Mail.png) center center no-repeat;}
#dock .m%3FBox Mail{background:url(Buufa/Icons/m%3FBox Mail.png) center 10px no-repeat;}

#iphone .Mail{background:url(Buufa/Icons/Mail.png) center center no-repeat;}
#dock .Mail{background:url(Buufa/Icons/Mail.png) center 10px no-repeat;}

#iphone .Maps{background:url(Buufa/Icons/Maps.png) center center no-repeat;}
#dock .Maps{background:url(Buufa/Icons/Maps.png) center 10px no-repeat;}

#iphone .mbox{background:url(Buufa/Icons/mbox.png) center center no-repeat;}
#dock .mbox{background:url(Buufa/Icons/mbox.png) center 10px no-repeat;}

#iphone .MIM{background:url(Buufa/Icons/MIM.png) center center no-repeat;}
#dock .MIM{background:url(Buufa/Icons/MIM.png) center 10px no-repeat;}

#iphone .MovieStar{background:url(Buufa/Icons/MovieStar.png) center center no-repeat;}
#dock .MovieStar{background:url(Buufa/Icons/MovieStar.png) center 10px no-repeat;}

#iphone .Music{background:url(Buufa/Icons/Music.png) center center no-repeat;}
#dock .Music{background:url(Buufa/Icons/Music.png) center 10px no-repeat;}

#iphone .MxTube{background:url(Buufa/Icons/MxTube.png) center center no-repeat;}
#dock .MxTube{background:url(Buufa/Icons/MxTube.png) center 10px no-repeat;}

#iphone .Notes{background:url(Buufa/Icons/Notes.png) center center no-repeat;}
#dock .Notes{background:url(Buufa/Icons/Notes.png) center 10px no-repeat;}

#iphone .Numba{background:url(Buufa/Icons/Numba.png) center center no-repeat;}
#dock .Numba{background:url(Buufa/Icons/Numba.png) center 10px no-repeat;}

#iphone .OfflineMaps{background:url(Buufa/Icons/OfflineMaps.png) center center no-repeat;}
#dock .OfflineMaps{background:url(Buufa/Icons/OfflineMaps.png) center 10px no-repeat;}

#iphone .Phone{background:url(Buufa/Icons/Phone.png) center center no-repeat;}
#dock .Phone{background:url(Buufa/Icons/Phone.png) center 10px no-repeat;}

#iphone .Photos{background:url(Buufa/Icons/Photos.png) center center no-repeat;}
#dock .Photos{background:url(Buufa/Icons/Photos.png) center 10px no-repeat;}

#iphone .Ping{background:url(Buufa/Icons/Ping.png) center center no-repeat;}
#dock .Ping{background:url(Buufa/Icons/Ping.png) center 10px no-repeat;}

#iphone .Quran{background:url(Buufa/Icons/Quran.png) center center no-repeat;}
#dock .Quran{background:url(Buufa/Icons/Quran.png) center 10px no-repeat;}

#iphone .Recorder{background:url(Buufa/Icons/Recorder.png) center center no-repeat;}
#dock .Recorder{background:url(Buufa/Icons/Recorder.png) center 10px no-repeat;}

#iphone .Respring{background:url(Buufa/Icons/Respring.png) center center no-repeat;}
#dock .Respring{background:url(Buufa/Icons/Respring.png) center 10px no-repeat;}

#iphone .Rooms{background:url(Buufa/Icons/Rooms.png) center center no-repeat;}
#dock .Rooms{background:url(Buufa/Icons/Rooms.png) center 10px no-repeat;}

#iphone .Safari{background:url(Buufa/Icons/Safari.png) center center no-repeat;}
#dock .Safari{background:url(Buufa/Icons/Safari.png) center 10px no-repeat;}

#iphone .ScribBall{background:url(Buufa/Icons/ScribBall.png) center center no-repeat;}
#dock .ScribBall{background:url(Buufa/Icons/ScribBall.png) center 10px no-repeat;}

#iphone .Settings{background:url(Buufa/Icons/Settings.png) center center no-repeat;}
#dock .Settings{background:url(Buufa/Icons/Settings.png) center 10px no-repeat;}

#iphone .Shanghai{background:url(Buufa/Icons/Shanghai.png) center center no-repeat;}
#dock .Shanghai{background:url(Buufa/Icons/Shanghai.png) center 10px no-repeat;}

#iphone .Shazam{background:url(Buufa/Icons/Shazam.png) center center no-repeat;}
#dock .Shazam{background:url(Buufa/Icons/Shazam.png) center 10px no-repeat;}

#iphone .Sketches{background:url(Buufa/Icons/Sketches.png) center center no-repeat;}
#dock .Sketches{background:url(Buufa/Icons/Sketches.png) center 10px no-repeat;}

#iphone .SMBPrefs{background:url(Buufa/Icons/SMBPrefs.png) center center no-repeat;}
#dock .SMBPrefs{background:url(Buufa/Icons/SMBPrefs.png) center 10px no-repeat;}

#iphone .SpeedAlert{background:url(Buufa/Icons/SpeedAlert.png) center center no-repeat;}
#dock .SpeedAlert{background:url(Buufa/Icons/SpeedAlert.png) center 10px no-repeat;}

#iphone .SpeedType{background:url(Buufa/Icons/SpeedType.png) center center no-repeat;}
#dock .SpeedType{background:url(Buufa/Icons/SpeedType.png) center 10px no-repeat;}

#iphone .Stack{background:url(Buufa/Icons/Stack.png) center center no-repeat;}
#dock .Stack{background:url(Buufa/Icons/Stack.png) center 10px no-repeat;}

#iphone .Stacks{background:url(Buufa/Icons/Stacks.png) center center no-repeat;}
#dock .Stacks{background:url(Buufa/Icons/Stacks.png) center 10px no-repeat;}

#iphone .StatusNotifier{background:url(Buufa/Icons/StatusNotifier.png) center center no-repeat;}
#dock .StatusNotifier{background:url(Buufa/Icons/StatusNotifier.png) center 10px no-repeat;}

#iphone .Stocks{background:url(Buufa/Icons/Stocks.png) center center no-repeat;}
#dock .Stocks{background:url(Buufa/Icons/Stocks.png) center 10px no-repeat;}

#iphone .StumblerPlus{background:url(Buufa/Icons/StumblerPlus.png) center center no-repeat;}
#dock .StumblerPlus{background:url(Buufa/Icons/StumblerPlus.png) center 10px no-repeat;}

#iphone .SuperPong 2{background:url(Buufa/Icons/SuperPong 2.png) center center no-repeat;}
#dock .SuperPong 2{background:url(Buufa/Icons/SuperPong 2.png) center 10px no-repeat;}

#iphone .SwirlyMMS{background:url(Buufa/Icons/SwirlyMMS.png) center center no-repeat;}
#dock .SwirlyMMS{background:url(Buufa/Icons/SwirlyMMS.png) center 10px no-repeat;}

#iphone .SysInfo{background:url(Buufa/Icons/SysInfo.png) center center no-repeat;}
#dock .SysInfo{background:url(Buufa/Icons/SysInfo.png) center 10px no-repeat;}

#iphone .Terminal{background:url(Buufa/Icons/Terminal.png) center center no-repeat;}
#dock .Terminal{background:url(Buufa/Icons/Terminal.png) center 10px no-repeat;}

#iphone .Tetris{background:url(Buufa/Icons/Tetris.png) center center no-repeat;}
#dock .Tetris{background:url(Buufa/Icons/Tetris.png) center 10px no-repeat;}

#iphone .Text{background:url(Buufa/Icons/Text.png) center center no-repeat;}
#dock .Text{background:url(Buufa/Icons/Text.png) center 10px no-repeat;}

#iphone .Thumbs{background:url(Buufa/Icons/Thumbs.db) center center no-repeat;}
#dock .Thumbs{background:url(Buufa/Icons/Thumbs.db) center 10px no-repeat;}

#iphone .TicTacToe{background:url(Buufa/Icons/TicTacToe.png) center center no-repeat;}
#dock .TicTacToe{background:url(Buufa/Icons/TicTacToe.png) center 10px no-repeat;}

#iphone .TicTacTouch{background:url(Buufa/Icons/TicTacTouch.png) center center no-repeat;}
#dock .TicTacTouch{background:url(Buufa/Icons/TicTacTouch.png) center 10px no-repeat;}

#iphone .Time To Live{background:url(Buufa/Icons/Time To Live.png) center center no-repeat;}
#dock .Time To Live{background:url(Buufa/Icons/Time To Live.png) center 10px no-repeat;}

#iphone .Topple{background:url(Buufa/Icons/Topple.png) center center no-repeat;}
#dock .Topple{background:url(Buufa/Icons/Topple.png) center 10px no-repeat;}

#iphone .Trace{background:url(Buufa/Icons/Trace.png) center center no-repeat;}
#dock .Trace{background:url(Buufa/Icons/Trace.png) center 10px no-repeat;}

#iphone .Trailers{background:url(Buufa/Icons/Trailers.png) center center no-repeat;}
#dock .Trailers{background:url(Buufa/Icons/Trailers.png) center 10px no-repeat;}

#iphone .Tuner{background:url(Buufa/Icons/Tuner.png) center center no-repeat;}
#dock .Tuner{background:url(Buufa/Icons/Tuner.png) center 10px no-repeat;}

#iphone .TuneWiki{background:url(Buufa/Icons/TuneWiki.png) center center no-repeat;}
#dock .TuneWiki{background:url(Buufa/Icons/TuneWiki.png) center 10px no-repeat;}

#iphone .Videos{background:url(Buufa/Icons/Videos.png) center center no-repeat;}
#dock .Videos{background:url(Buufa/Icons/Videos.png) center 10px no-repeat;}

#iphone .vlc4iphone{background:url(Buufa/Icons/vlc4iphone.png) center center no-repeat;}
#dock .vlc4iphone{background:url(Buufa/Icons/vlc4iphone.png) center 10px no-repeat;}

#iphone .WallPaperSearch{background:url(Buufa/Icons/WallPaperSearch.png) center center no-repeat;}
#dock .WallPaperSearch{background:url(Buufa/Icons/WallPaperSearch.png) center 10px no-repeat;}

#iphone .Weather{background:url(Buufa/Icons/Weather.png) center center no-repeat;}
#dock .Weather{background:url(Buufa/Icons/Weather.png) center 10px no-repeat;}

#iphone .WhatIP{background:url(Buufa/Icons/WhatIP.png) center center no-repeat;}
#dock .WhatIP{background:url(Buufa/Icons/WhatIP.png) center 10px no-repeat;}

#iphone .WiFiFoFum{background:url(Buufa/Icons/WiFiFoFum.png) center center no-repeat;}
#dock .WiFiFoFum{background:url(Buufa/Icons/WiFiFoFum.png) center 10px no-repeat;}

#iphone .WinterBoard{background:url(Buufa/Icons/WinterBoard.png) center center no-repeat;}
#dock .WinterBoard{background:url(Buufa/Icons/WinterBoard.png) center 10px no-repeat;}

#iphone .Word Wrap{background:url(Buufa/Icons/Word Wrap.png) center center no-repeat;}
#dock .Word Wrap{background:url(Buufa/Icons/Word Wrap.png) center 10px no-repeat;}

#iphone .WordSearch{background:url(Buufa/Icons/WordSearch.png) center center no-repeat;}
#dock .WordSearch{background:url(Buufa/Icons/WordSearch.png) center 10px no-repeat;}

#iphone .WTD{background:url(Buufa/Icons/WTD.png) center center no-repeat;}
#dock .WTD{background:url(Buufa/Icons/WTD.png) center 10px no-repeat;}

#iphone .YouTube{background:url(Buufa/Icons/YouTube.png) center center no-repeat;}
#dock .YouTube{background:url(Buufa/Icons/YouTube.png) center 10px no-repeat;}

